.header{


    &__top{

        padding: 8px 0;
        background-color: #2C2926;

        &-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-link a{
            font-size: 13px;
            color: rgba(255, 255, 255, 0.7);
        }

    }

    select{
        background: transparent;
        color: white;
        opacity: 0.7;
        border: none;
        padding: 0;
    }

    &__bottom{
        padding: 12px 0;

        nav {

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 32px;
            }
        }


        .search-btn{
            background: transparent;
            border: none;
        }

    }
}